/* ***HEADER*** */

header{
display: grid;
position: -webkit-sticky;
position: sticky;
top: 0;
font-family: 'Ubuntu Condensed', sans-serif;
}

#indexFärg{
  background-color: #5D5C5B;
}
#htmlFärg{
  background-color: rgb(235, 107, 57);
}
#cssFärg{
  background-color: rgb(92, 94, 204);
}
#javascriptFärg{
  background-color: rgb(255, 255, 81);
}
#photoshopFärg{
  background-color: rgb(129, 173, 255);
}

.ikon{
grid-column-start: 1;
}

.ikon img{
width: 100px;
height: 100px;
align-content: center;
}

/* ***NAVBAR*** */

.navbar{
  margin-top: 0;
  text-align: center;
}

.navbar ul{
  padding: 0;
  margin: 0;
  grid-column: 3 / span 2;
}

.navbar ul li{
display: inline-block;
}

.navbar a{
  text-decoration: none;
  color: black;
}

.dropbtn {
font-family: 'Ubuntu Condensed', sans-serif;
background-color: transparent;
padding: 15px;
margin: 20px;
font-size: 20px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
text-decoration: underline;
}

.dropdown-content { 
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* ***SEARCHBAR*** */

#searchBtn{
color: black;
}

.searchbutton{
background-color: white; 
border: none;
color: white;
padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 0px 10px 10px 0px;
height: 40px;
}

.searchField{

grid-column-start: 5;
}
.searchField input{
align-content: center;
margin-top: 30px;
text-indent: 20px;
}
.searchField button{
align-content: center;
margin-left: 0;
}

input{

padding: 0px 0px 0px 0px;
height: 40px;
width: 200px;
border-radius: 10px 0px 0px 10px;
border:none;
}

/* ***BODY*** */

body{
margin:0;
padding:0;
}

::placeholder{
font-size: 15px;
}

article{
text-align: center;
font-family: 'KoHo', sans-serif;
}

/* ***FÄRGBLOCK*** */

.indexBlock{
background-color: rgba(93, 92, 91, 0.13);
padding: 2px;
}
.htmlBlock{
background-color: rgba(223, 65, 2, 0.075);
padding: 2px;
}
.cssBlock{
background-color: rgba(92, 94, 204, 0.082);
padding: 2px;
}
.javascriptBlock{
background-color: rgba(255, 253, 140, 0.479);
padding: 2px;
}
.photoshopBlock{
background-color: rgba(129, 173, 255, 0.151);
padding: 2px;
}

/* ***FOOTER*** */

footer {
font-family: 'Open Sans', sans-serif;
width: 100%;
text-align: center;
margin-top: 500px;
}